@charset "ISO-8859-1";

    /* Custom styles for the Timeline */  
    div.timeline-frame {  
          
          
    }  
 
    div.timeline-axis {  
        border-color: #5D99C3;  
        background-color: #5D99C3;  
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5D99C3', endColorstr='#3A6DA0') alpha(opacity = 100);  
        background: -webkit-gradient(linear, left top, left bottom, from(#5D99C3), to(#3A6DA0));  
        background: -moz-linear-gradient(top,  #5D99C3,  #3A6DA0);  
        -khtml-opacity: 1;  
        -moz-opacity: 1;  
        opacity: 1;  
    }  
 
    div.timeline-groups-axis {  
        border-color: #5D99C3;  
    }  
 
    div.timeline-groups-axis-onleft {  
        border-style: none solid none none;  
    }  
 
    div.timeline-axis-text {  
        color: white;  
    }  
 
    div.timeline-event {  
        color: white !important;  
        border-radius: 5px !important;  
    }  
 
    div.timeline-event-content {  
        padding: 5px;  
        text-shadow: none;  
    }  
 
    div.urgente {  
        background: #dd4b39 none !important;  /* red */  
        border-color: #bd2828 !important;     /* red */  
    }  
    
    div.alta {  
        background: #f39c12 none !important;  /* orange */  
        border-color: #cc8100 !important;     /* orange */  
    }  
 
    div.moderada {  
        background: #00a65a none !important;  /* green */  
        border-color: #136e13 !important;     /* green */  
    }  
    
    div.baixa {  
        background: #00c0ef none !important;  /* blue */  
        border-color: #0080C0 !important;     /* blue */  
    }      
 
    div.timeline-event-selected {  
        background: #BECEFE none !important;  
        border-color: #97B0F8 !important;  
    }