html, body {height:100% !important;}

.wrapper{ min-height:100%;}

.main-footer{    position: absolute;  width: 100%;  bottom:0;}

.flex-box-row{
	display: -ms-flexbox;
    display: -moz-flexbox;
	display: -webkit-flex;
	display: -o-flex;
	display: flex;

	-moz-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    -o-flex-flow: row nowrap;
    -webkit-flex-flow: row nowrap;
	flex-flow: row nowrap;

	-moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    -webkit-justify-content: space-between;
	justify-content: space-between;

	-moz-align-content: center;
    -ms-align-content: center;
    -o-align-content: center;
    -webkit-align-content: center;
	align-content: center;
	
	-moz-align-items: flex-end;
    -ms-align-items: flex-end;
    -o-align-items: flex-end;
    -webkit-align-items: flex-end;
	align-items: flex-end;
}

.flex-box-row-center{
	display: -ms-flexbox;
    display: -moz-flexbox;
	display: -webkit-flex;
	display: -o-flex;
	display: flex;

	-moz-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    -o-flex-flow: row nowrap;
    -webkit-flex-flow: row nowrap;
	flex-flow: row nowrap;

	-moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    -webkit-justify-content: space-between;
	justify-content: space-between;

	-moz-align-content: center;
    -ms-align-content: center;
    -o-align-content: center;
    -webkit-align-content: center;
	align-content: center;
	
	-moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    -webkit-align-items: center;
	align-items: center;
}

.flex-content-row{
	display: -ms-flexbox;
    display: -moz-flexbox;
	display: -webkit-flex;
	display: -o-flex;
	display: flex;

    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    -o-flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
	flex-flow: row wrap;

	-moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    -webkit-justify-content: center;
	justify-content: center;	
	
	-moz-align-content: center;
    -ms-align-content: center;
    -o-align-content: center;
    -webkit-align-content: center;
	align-content: center;
}

.flex-box-column{
	display: -ms-flexbox;
    display: -moz-flexbox;
	display: -webkit-flex;
	display: -o-flex;
	display: flex;

	-moz-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    -o-flex-flow: column nowrap;
    -webkit-flex-flow: column nowrap;
	flex-flow: column nowrap;

	-moz-justify-content: 	 flex-start;
    -ms-justify-content: 	 flex-start;
    -o-justify-content: 	 flex-start;
    -webkit-justify-content: flex-start;
	justify-content: 		 flex-start;

	-moz-align-content: center;
    -ms-align-content: center;
    -o-align-content: center;
    -webkit-align-content: center;
	align-content: center;

}

.flex-content-column{
	display: -ms-flexbox;
    display: -moz-flexbox;
	display: -webkit-flex;
	display: -o-flex;
	display: flex;

    -moz-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    -o-flex-flow: column wrap;
    -webkit-flex-flow: column wrap;
	flex-flow: column wrap;

	-moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    -webkit-justify-content: center;
	justify-content: center;	
	
	-moz-align-content: center;
    -ms-align-content: center;
    -o-align-content: center;
    -webkit-align-content: center;
	align-content: center;
}

.icon_home{
	-webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    position: absolute;
    top: -10px;
    right: 10px;
    z-index: 0;
    font-size: 90px;
    color: rgba(0, 0, 0, 0.05);
}

.ui-autocomplete-input {
 	border-radius: 0;
    box-shadow: none;
    border-color: #d2d6de;
    display: block;
    width: 165%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

/* .iconExcluir{ */
/*     justify-content: center; */
/* 	background-color: rgba(255, 255, 255, 0.46) !important; */
/*     max-width: 100%; */
/*     height: auto; */
/*     top: 22% !important;     */
/*     font-size: 268% !important; */
/*     border-radius: 50%; */
/* } */


.date{
	width: 100%;
	display: flex;
}

.date .ui-inputfield{		
	position: relative;
    z-index: 2;
    margin-bottom: 0;
    padding-right: 42.5px;
    border-radius: 0;
    box-shadow: none;
    border-color: #d2d6de;
    
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }
    
#datepicker .ui-button{
	border-radius: 0;
    border-color: #d2d6de;
    background-color: #fff;
    border-right: 0;
    padding: 2px 18px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-image: none;
}   

.ui-autocomplete-input:not(select) {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.ui-autocomplete-input:focus{
	border-color: #3c8dbc;
	box-shadow: none;
}

.overPanel{
	left: 15px; width: 40%;
}

.products-list .ui-state-default{
	border: 0px solid rgba(0, 0, 0, 0);
    background: none;	
    box-shadow: none;
}

.ui-widget .ui-widget-content{
	border: 0px solid rgba(0, 0, 0, 0);
    background: none;
}

.ui-widget .ui-widget-content ul{
	list-style: none;
	padding-left: 15px;
}

.ui-inplace .ui-inplace-display{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 15px;
}

.login-page, .register-page {	
	background: #1a475d !important;
    background: -webkit-linear-gradient(#143546, #1c5169) !important;
    background: -o-linear-gradient(#143546, #1c5169) !important;
    background: -moz-linear-gradient(#143546, #1c5169) !important;
        background: linear-gradient(#143546, #1c5169) !important;
}

.calendario{width: 100%; background-color: #FFF; float:right;}

.calendario .ui-widget .ui-widget-content{border: 1px solid #d5d5d5; background: #fff; color: #222;}

.products-list .ui-datatable-tablewrapper{overflow: unset;}

.ui-widget-content a{color: #1a475d;}
.ui-widget-content a:hover{color: #00c0ef;}

.ui-inplace-content>.ui-inputfield{height: 21px;}

.ui-paginator{
	border: none; 
    background: none;
    font-size: 10px;
    padding: 0 !important;
    font-weight: normal;
   } 

.tarefas{margin:0;padding:0;list-style:none;overflow:auto}
.tarefa{border-radius:2px;padding:10px;background:#f4f4f4;margin-bottom:2px;border-left:2px solid #e6e7e8;color:#444}
.tarefa:last-of-type{margin-bottom:0}
.checkbox{margin:0 10px 0 5px; display: inline-block;}
.text{display:inline-block;margin-left:5px;font-weight:600}
.label{margin-left:10px;font-size:9px}
.tools{display:none;float:right;}
.iconTools{margin-right:5px;cursor:pointer;font-size: 20px!importante;color:#dd4b39!important}
.tarefa:hover .tools{display:inline-block}
.done{color:#999}
.done .text{text-decoration:line-through;font-weight:500}
.handle{display:inline-block;cursor:move;margin:0 5px}
.ui-datagrid-column{padding: 0}

@media screen and (max-width: 768px) {
	.overPanel{
		left: 15px; width: 90%;
	}
	
	.ui-widget .ui-widget-content ul{
		padding-left: 0;
	}
}