<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:h="http://xmlns.jcp.org/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:p="http://primefaces.org/ui">

	<ui:composition template="../template.xhtml">
		<ui:define name="content">	
		<h:form id="atividades">
			
			<div class="content-header flex-content-row" style="justify-content: space-between;" >
						
			    <h2 style="float: left; margin: 0;">Atividades</h2>
				
			    <h:commandLink action="#{atividade.newAtividade}" rendered="#{gerente.gerente}" >
			        <i class="fa fa-plus-square" style="font-size: 20px; color: #333;"></i> 
					<span style="margin: 0; font-size:18px; color: #333;" >Nova Atividade</span>
			    </h:commandLink>		
				  				
			</div><br/>	
			
			<div class="row">
				<p:dataList id="atividades" var="atv" value="#{atividadeView.atvPlus}" emptyMessage="Você ainda não tem atividades cadastradas" >				    					
				    <h:commandLink id="atividadeClick" action="#{tarefa.openTarefas}" style="color: white;">				    
					    <div class="col-lg-3">				      
				          <div class="info-box #{atv.color}">
				            <span class="info-box-icon"><i class="ion ion-clipboard"></i></span>			
				            <div class="info-box-content" style="padding: 5px 10px;">		            	  							  		
						  	  <f:setPropertyActionListener value="#{atv}" target="#{tarefa.ativPlus}"/>	              
				              <div class="flex-box-row-center" >
					          	<h:outputText class="info-box-text" value="#{atv.ativ.nome}"/>
				                  <p:outputLabel class="progress-description" style="font-size: small;" rendered="#{atv.progresso != '100%'}"><i class="fa fa-clock-o"/> #{atv.prazo}</p:outputLabel>
					              <p:outputLabel class="progress-description" style="font-size: small;" rendered="#{atv.progresso == '100%'}"><i class="fa fa-check"/></p:outputLabel>
					          </div>
				              	              
				              <h:outputText class="progress-description" value="Equipe: #{atv.ativ.equipe.nome}"/>
				              <div class="progress">
				                <div class="progress-bar" style="width: #{atv.progresso}"></div>
				              </div>				  			             
				              <div class="flex-box-row-center" >
				                  <span class="progress-description">#{atv.progresso} Concluído</span>
					              <div style="font-size: 16px" >
					                  <p:commandLink style="color: white;" action="#{atividade.edit}" rendered="#{gerente.gerente}" ><f:setPropertyActionListener value="#{atv.ativ}" target="#{atividade.atividade}"/><i class="fa fa-edit"/></p:commandLink>
					                  <p:commandLink style="color: white;" action="#{atividade.delete}" update="atividades" rendered="#{gerente.gerente}" ><f:setPropertyActionListener value="#{atv.ativ}" target="#{atividade.atividade}"/> <i class="fa fa-trash-o"/><p:confirm header="Atenção!" message="Tem certeza que deseja excluir a atividade?" icon="ui-icon-alert" /></p:commandLink>
					                  <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" rendered="#{gerente.gerente}">
										  <p:commandButton value="Sim" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
										  <p:commandButton value="Não" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
									  </p:confirmDialog>
				                  </div>
				              </div>              
				            </div>
						</div>
			          </div>			
		        </h:commandLink>	    
				</p:dataList>	
			</div>	


		</h:form>
		</ui:define>	
	</ui:composition>
	
</html>
