<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:h="http://xmlns.jcp.org/jsf/html"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:f="http://java.sun.com/jsf/core">
	  
	 <h:head>	  
	  <title>ProjBL | Cadastrar Tópico</title>	  
	</h:head>	  
	  
	<ui:composition template="../template.xhtml">
	<ui:define name="content">	

	   <h:form class="register-box">
	     <div class="form-group has-feedback">
	       <p:inputText class="form-control" placeholder="Título do Tópico" value="#{topico.topico.titulo}" maxlength="50" required="true" requiredMessage="Título do Tópico"/>		        
	     </div>
	     
	     <div class="form-group has-feedback">
	       <p:inputTextarea class="form-control" placeholder="Texto" value="#{topico.topico.texto}" rows="5" cols="33"/>		        
	     </div>
	     
		 <div class="row">
		  <div class="col-xs-4">
		    <p:commandButton value="Salvar" class="btn btn-primary btn-block btn-flat" action="#{topico.save}"/>          
		  </div>
		 </div>
	   <br/>
	   <p:link outcome="forum"><i class="fa fa-arrow-circle-left fa-2x"/></p:link>   
     
	   </h:form>
	</ui:define>
	</ui:composition>   
 
</html>