<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:h="http://xmlns.jcp.org/jsf/html"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:f="http://java.sun.com/jsf/core">
	  
	 <h:head>	  
	  <title>ProjBL | Cadastrar Atividade</title>	  
	</h:head>	  
	  
	<ui:composition template="../template.xhtml">
	<ui:define name="content">	

	   <h:form class="register-box">
	     <div class="form-group has-feedback">
	       <p:inputText class="form-control" placeholder="Nome da Atividade" value="#{atividade.atividade.nome}" maxlength="50" required="true" requiredMessage="Campo Nome da Atividade Obrigatório"/>		        
	     </div>
         <div class="form-group has-feedback">
           <div id="datepicker" class="input-group date">
             <p:calendar id="dtInicio" class="date" value="#{atividade.atividade.dataInicio}" placeholder="Data de Início" pattern="dd/MM/yyyy HH:mm" mask="99/99/9999 99:99" 
             	         timeControlType="select" mode="popup" effect="fold" locale="pt_BR" showButtonPanel="true" showOn="button" 
             	         mindate="#{atividade.projeto.dataInicio}" maxdate="#{atividade.projeto.dataFim}">
             	<p:ajax event="dateSelect" update="dtFim" />
             	
             </p:calendar>
             <p:tooltip for="dtInicio" value="Para abrir o calendário clicar no botão ao lado." position="top"/>
           </div>
         </div>
         <div class="form-group has-feedback">
           <div id="datepicker" class="input-group date">
	   		 <p:calendar id="dtFim" class="date" value="#{atividade.atividade.dataFim}" placeholder="Data de Fim" pattern="dd/MM/yyyy HH:mm" mask="99/99/9999 99:99" 
	   		 			 timeControlType="select" mode="popup" effect="fold" locale="pt_BR" showButtonPanel="true" showOn="button" 
	   		 			 mindate="#{atividade.projeto.dataInicio}" maxdate="#{atividade.projeto.dataFim}" />	   		 
	   		 <p:tooltip for="dtFim" value="Para abrir o calendário clicar no botão ao lado." position="top"/>
           </div>
         </div>
         
         <div class="form-group has-feedback">
	         <h:selectOneMenu class="form-control" value="#{atividade.idEquipe}" required="true" requiredMessage="Selecione uma equipe responsável pela atividade." >
	        	<f:selectItem itemLabel="Equipe Responsável" noSelectionOption="true"/>
	        	<f:selectItems value="#{atividade.equipes}" var="eqp" itemLabel="#{eqp.nome}" itemValue="#{eqp.idEquipe}"/>
	         </h:selectOneMenu>	        
         </div>         
         
         <div class="form-group has-feedback">
	         <h:selectOneMenu class="form-control" placeholder="Prioridade" value="#{atividade.atividade.prioridade}">
	        	<f:selectItem itemLabel="Prioridade" noSelectionOption="true"/>
	            <f:selectItem itemLabel="Baixa" itemValue="1" />
	            <f:selectItem itemLabel="Moderada" itemValue="2" />
	            <f:selectItem itemLabel="Alta" itemValue="3" />
	            <f:selectItem itemLabel="Urgente" itemValue="4" />
	         </h:selectOneMenu>	        
         </div>
	     
	     <div class="form-group has-feedback">
	       <p:inputTextarea class="form-control" placeholder="Descrição" value="#{atividade.atividade.descricao}" rows="5" cols="33"/>		        
	     </div>
	     
	      <div class="row">
	        <div class="col-xs-4">
	          <p:commandButton value="Salvar" class="btn btn-primary btn-block btn-flat" action="#{atividade.save}"/>          
	        </div>
	      </div>
	   <br/>
	   <p:link outcome="atividades"><i class="fa fa-arrow-circle-left fa-2x"/></p:link>   
     
	   </h:form>
	</ui:define>
	</ui:composition>   
 
</html>