<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:h="http://xmlns.jcp.org/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:p="http://primefaces.org/ui">

	<ui:composition template="../template.xhtml">
		<ui:define name="content">
		
			<div class="content-header flex-content-row" style="justify-content: space-between;  align-items: baseline;" >
			
			<h:outputText style="float: left; margin: 0; font-size: 25px" value="Dashboard de Gerente" rendered="#{gerente.gerente}"/>
			<h:outputText style="float: left; margin: 0; font-size: 25px" value="Dashboard" rendered="#{gerente.gerente == false}"/>
			
			    
<!-- 			<div class="form-group">  -->
<!-- 			    <label for="periodo" class="control-label" style="margin-right: 5px">Período: </label>  -->
<!-- 			    <select id="periodo" style="width: 67%">  -->
<!-- 	    			<option>Projeto completo</option> -->
<!-- 	    			<option>Ultimo dia</option> -->
<!-- 	    			<option>Últimos 7 dias</option> -->
<!-- 	                <option>Últimos 15 dias</option> -->
<!-- 	                <option>Último Mês</option>	    -->                  
<!-- 			    </select>			  -->
<!-- 			</div>		 -->
				  				
			</div><br/>	
				  
			
			<h:outputText value="Início:" style="font-size: 160%; font-weight: bold; margin-right:5px;" />
			<h:outputText value="#{projeto.projeto.dataInicio}" style="font-size: 160%; margin-right:20px;">
				 <f:convertDateTime pattern="dd/MM/yyyy HH:mm"/>
			</h:outputText>
			
			<h:outputText value="Fim:" style="font-size: 160%; font-weight: bold; margin-right:5px;" />
			<h:outputText value="#{projeto.projeto.dataFim}" style="font-size: 160%; margin-right:20px;">
				<f:convertDateTime pattern="dd/MM/yyyy HH:mm"/>
			</h:outputText>
			
			<h:outputText value="Descrição: " style="font-size: 160%; font-weight: bold; margin-right:5px;" />
			<h:outputText value="#{projeto.projeto.descricao}" style="font-size: 160%; margin-right:20px;"/>

			<hr/>
			

	    	<h:form id="atividades" rendered="#{dashboard.total != 0}" >							
				<div class="row">
			     <div class="col-lg-3 col-xs-6">
			       <!-- small box -->
			      <div class="small-box bg-aqua">
			        <div class="inner">
			          <h3>#{dashboard.progressoDoProjeto}<sup style="font-size: 20px">%</sup></h3>
			
			          <p>Progresso do Projeto</p>
			        </div>
			        <div class="icon">
			          <i class="ion ion-gear-b"></i>
			        </div>
			      </div>
			    </div>
			    <!-- ./col -->
			    <div class="col-lg-3 col-xs-6">
			      <!-- small box -->
			      <div class="small-box bg-green">
			        <div class="inner">
			          <h3>#{dashboard.atividadesConcluidas}<sup style="font-size: 20px">/#{dashboard.total}</sup></h3>
			
			          <p>Atividades Concluidas</p>
			        </div>
			        <div class="icon">
			          <i class="ion ion-android-checkbox-outline"></i>
			        </div>
			      </div>
			    </div>
			    <!-- ./col -->
			    <div class="col-lg-3 col-xs-6">
			      <!-- small box -->
			      <div class="small-box bg-yellow">
			        <div class="inner">
			          <h3>#{dashboard.atividadesAndamento}<sup style="font-size: 20px">/#{dashboard.total}</sup></h3>
			
			          <p>Atividades em Andamento</p>
			        </div>
			        <div class="icon">
			          <i class="ion ion-android-refresh"></i>
			        </div>
			      </div>
			    </div>
			    <!-- ./col -->
			    <div class="col-lg-3 col-xs-6">
			      <!-- small box -->
			      <div class="small-box bg-red">
			        <div class="inner">
			        <h3>#{dashboard.atividadesAtrazo}<sup style="font-size: 20px">/#{dashboard.total}</sup></h3>
			
			          <p>Atividades em Atraso</p>
			        </div>
			        <div class="icon">
			          <i class="ion ion-android-close"/>
			        </div>
			      </div>
			    </div>
			    <!-- ./col -->
			  </div>
			
			<br/>
			
			<p:timeline id="dashboard" value="#{dashboard.model}" var="model" locale="pt_BR"
				editable="false" eventMargin="10" eventMarginAxis="1"
				start="#{dashboard.dtInicial}" end="#{dashboard.dtFinal}"
				showNavigation="true" axisOnTop="true" >

				<p:ajax event="select" listener="#{dashboard.linkAtividade()}" />				
				
			</p:timeline>

		</h:form>

   		
		</ui:define>	
	</ui:composition>
	
</html>
