<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="../templateSemMenu.xhtml">
        <ui:define name="content">  

			<h:form id="dashGeral" >			
			    <p:growl id="messages" showDetail="true" />
			 	
			 	<h2 align="center" >Dashboard de Geral de Projetos</h2>
			 	
				    <div class="flex-box-row" style="align-items: flex-start;">	
				    
				    	<div style="margin: 1%">
	        				<h3 style="text-align: center;" >Calendário de Projetos</h3>			 			
				 				 	
					        <p:schedule id="calendarioProj" value="#{dashParticipados.calendarioProj}" widgetVar="calendarioProj" locale="pt_BR" styleClass="calendario" draggable="false" >		         
					        	<p:ajax event="eventSelect" listener="#{dashParticipados.calendarioProjSelect}" update="dlgProjeto" oncomplete="PF('dlgProjeto').show()"/>		         
					        </p:schedule>
					        
					        <p:dialog id="dlgProjeto" widgetVar="dlgProjeto" header="#{dashParticipados.projeto.nome}" showEffect="clip" hideEffect="clip">
						        <h:panelGrid id="Projeto" columns="2">
						            <p:outputLabel id="dtInicioProj" value="Data de Início: " />
						            <p:outputLabel for="dtInicioProj" value="#{dashParticipados.dataInicio}" style="font-weight: normal;"/>			            
						            
						            <p:outputLabel id="dtFimProj" value="Data de Fim: " />
						            <p:outputLabel for="dtFimProj" value="#{dashParticipados.dataFim}" style="font-weight: normal;"/>
						            
						            <p:outputLabel id="descricaoProj" value="Descrição: " />
						            <p:outputLabel for="descricaoProj" value="#{dashParticipados.projeto.breveDescricao}" style="font-weight: normal;"/>
						            
						            <p:outputLabel id="qtnEquipes" value="Qnt. de Equipes: " />
						            <p:outputLabel for="qtnEquipes" value="#{dashParticipados.projeto.equipes.size()}" style="font-weight: normal;"/>
						            
						            <p:outputLabel id="qtdTopicos" value="Qnt. de Tópicos: " />
						            <p:outputLabel for="qtdTopicos" value="#{dashParticipados.projeto.topicos.size()}" style="font-weight: normal;"/>
						            
						        </h:panelGrid>
						    </p:dialog>
					    </div>
					    
					    <div style="margin: 1%">
						    <h3 style="text-align: center;">Calendário de Atividades</h3>
						    
					        <p:schedule id="calendarioAtiv" value="#{dashParticipados.calendarioAtiv}" widgetVar="calendarioAtiv" locale="pt_BR" styleClass="calendario" draggable="false" >		         
					        	<p:ajax event="eventSelect" listener="#{dashParticipados.calendarioAtvSelect}" update="dlgAtividade" oncomplete="PF('dlgAtividade').show()" />		         
					        </p:schedule>			    
						    
					        <p:dialog id="dlgAtividade" widgetVar="dlgAtividade" header="#{dashParticipados.atividade.nome}" showEffect="clip" hideEffect="clip">
					        
					            <h:panelGrid id="Atividade" columns="2" cellpadding="5" >		  
					                      
						            <p:outputLabel id="dtInicioAtv" value="Data de Início: " />
						            <p:outputLabel for="dtInicioAtv" value="#{dashParticipados.dataInicio}" style="font-weight: normal;"/>			            
						            
						            <p:outputLabel id="dtFimAtv" value="Data de Fim: " />
						            <p:outputLabel for="dtFimAtv" value="#{dashParticipados.dataFim}" style="font-weight: normal;"/>
						            
						            <p:outputLabel id="equipe" value="Responsável:" />
						            <p:outputLabel for="equipe" value="#{dashParticipados.atividade.equipe.nome}" style="font-weight: normal;"/>			            
						            
						            <p:outputLabel id="prioridade" value="Prioridade:" />
						            <p:outputLabel for="prioridade" value="#{dashParticipados.prioridade}" style="font-weight: normal;"/>
						            
						            <p:outputLabel id="descricaoAtv" value="Descrição:" />
						            <p:outputLabel for="descricaoAtv" value="#{dashParticipados.atividade.descricao}" style="font-weight: normal; text-align: justify;"/>			            
			
						        	<p:outputLabel id="Tarefas" value="Tarefas:" />
						            <p:dataScroller for="Tarefas" value="#{dashParticipados.tarefas}" var="tar"  chunkSize="5" rendered="#{dashParticipados.tarefas != null}" >
				            	        <f:facet name="loader">
								            <p:commandButton type="button" icon="ui-icon-circle-triangle-s" style="text-align: left;"/>
								        </f:facet>
								        
							        	<h:outputLabel id="tarefa" value="#{tar.descricao}" style="margin-right: 10px; font-weight: normal; margin-left: -25px !important"/>					        	
							        	<h:outputLabel for="tarefa" rendered="#{tar.status}" styleClass="fa fa-check" style="color: #00a65a;"/>
							        	<h:outputLabel for="tarefa" rendered="#{tar.status == false}" styleClass="fa fa-times" style="color: #f39c12;" />
								        
						            </p:dataScroller>
					            </h:panelGrid>
						        
						    </p:dialog> 
					    
					    </div>
					</div> 				 	
			 					               
			</h:form>

        </ui:define>    
    </ui:composition>
    
</html>
