<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:h="http://xmlns.jcp.org/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:p="http://primefaces.org/ui">
	  
	  <h:head>
	  	<link rel="stylesheet" href="../dist/css/personalizado.css"/>  
	  </h:head>

	<ui:composition template="../template.xhtml">
		<ui:define name="content">	
		<h:form id="equipe" onkeypress="if (event.keyCode == 13) { return false; }">	
			
			<div class="content-header flex-content-row" style="justify-content: space-between;" >
			    <h2 style="float: left; margin: 0;">Equipe</h2>
				
				<p:outputPanel rendered="#{gerente.gerente}" >
				    <p:commandLink id="addEquipe">
				        <i class="fa fa-plus-square" style="font-size: 20px; color: #333;"></i> 
						<span style="margin: 0; font-size:18px; color: #333;" >Nova Equipe</span>
				    </p:commandLink>
			    </p:outputPanel>
			    
			    <p:overlayPanel id="addMembroPanel" for="addEquipe" hideEffect="fade" style="width: 50%;">
                    <div class="input-group">
			           <p:inputText class="form-control" placeholder="Nome da Equipe" value="#{equipe.equipe.nome}" required="false" maxlength="100"/>
			           <h:commandLink action="#{equipe.save}" class="input-group-addon"><i class="fa fa-plus"/></h:commandLink>
		            </div>
			    </p:overlayPanel>
			</div><br/>		
			
			<div class="content" style="display:flex;" >

				<p:dataList id="equipes" value="#{equipe.equipeMembros}" var="equipeMembros" style="width: 100%;" >
		            <div class="col-md-6" style="padding-left: 0">
		              <!-- USERS LIST -->
		              <div class="box box-danger">
		                <div class="box-header with-border">		  

						  <h:outputText value="#{equipeMembros.equipe.nome}" class="text" rendered="#{gerente.gerente == false}" />		                                
		                  <p:inplace id="equipeEdit#{equipeMembros.equipe.idEquipe}" class="text" widgetVar="equipeEdit#{equipeMembros.equipe.idEquipe}" editor="true" saveLabel="Salvar" cancelLabel="Cancelar" emptyLabel="Nome da Equipe" rendered="#{gerente.gerente}" disabled="#{equipeMembros.equipe.codigo == 0}" >
						  	  <p:ajax event="save" listener="#{equipe.save}" update="messages"/>							  	  						  
							  <p:inputText class="text" value="#{equipeMembros.equipe.nome}" label="text" required="true" requiredMessage="É necessário preencher o campo de nome da tarefa."/>
						  </p:inplace>
	                      <p:commandLink styleClass="iconTools" type="button" onclick="PF('equipeEdit#{equipeMembros.equipe.idEquipe}').show()" rendered="#{gerente.gerente}" disabled="#{equipeMembros.equipe.codigo == 0}" ><i class="fa fa-edit" style="margin-left: 5px"/></p:commandLink>	                      
	                      
		
		                  <div class="box-tools pull-right">
		                    <span class="label label-danger">#{equipeMembros.membros.size()} Membros</span>
		              	
		                    <p:commandLink id="deleteEquipe" action="#{equipe.delete}" class="btn btn-box-tool" style="padding: 2px 0px 0px 5px; font-size: 20px;" update="equipes" rendered="#{gerente.gerente}">
		                    	<i class="fa fa-trash-o"/>
		                    	<p:confirm header="Atenção!" message="Tem certeza que deseja excluir a equipe?" icon="ui-icon-alert" />
		                    	<f:setPropertyActionListener value="#{equipeMembros.equipe}" target="#{equipe.equipe}"/>
	                    	</p:commandLink>
		                    <p:tooltip for="deleteEquipe" value="Excluir Equipe" position="left"/>
                    		<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
								  <p:commandButton value="Sim" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
								  <p:commandButton value="Não" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
							</p:confirmDialog>
		                    
		                    
		                    <p:commandLink id="addMembro" class="btn btn-box-tool" style="padding: 2px 0px 0px 5px; font-size: 20px;" rendered="#{gerente.gerente}"><i class="fa fa-plus-circle"/></p:commandLink>
		                    <p:tooltip for="addMembro" value="Adicionar Membro a Equipe" position="left"/>
		                    <p:overlayPanel id="addMembroPanel" for="addMembro" hideEffect="fade" style="width: 300%; height: 250%;">
			                    <div class="input-group">
						           <p:autoComplete id="membro" placeholder="Digite o nome do usuário" minQueryLength="3" forceSelection="true" completeMethod="#{membro.buscarUsuario}" style="width:61%"/>						           
						           <h:commandLink action="#{membro.save}" class="input-group-addon" update="equipe" >
						           		<i class="fa fa-plus"/>
						           		<f:setPropertyActionListener value="#{equipeMembros}" target="#{membro.em}"/>						           		
						           </h:commandLink>
					            </div>
						    </p:overlayPanel>
						    
		                  </div>
		                </div>
		                <!-- /.box-header -->
		                <div class="box-body no-padding">
		                  <ul class="users-list clearfix">	
		                  	<p:repeat id="membros" value="#{equipeMembros.membros}" var="m">
			                    <li>			                      
			                      <p:graphicImage value="../resources/img/users/#{m.img}" width="128px" height="128px" alt="Foto Membro" />			                              
			                      <span class="users-list-name">
			                      <p:commandLink action="#{membro.delete}" rendered="#{gerente.gerente}" update="equipe">
			                      	<i class="fa fa-trash-o" style="font-size:125%" />
			                      	<f:setPropertyActionListener value="#{equipeMembros}" target="#{membro.em}"/>
			                      	<f:setPropertyActionListener value="#{m}" target="#{membro.usuarioMembro}"/>			                      	
			                      </p:commandLink>
			                       #{m.nome}
			                      </span>
			                      <span class="users-list-name users-list-date">#{m.email}</span>
			                    </li>
		                    </p:repeat>
	                    	<p:repeat rendered="#{equipeMembros.membros.isEmpty()}" value="1">
		                    	<li> 
		                    	  <p:graphicImage id="imgID" value="../dist/img/users.png" alt="User Image" />  
			                      <p:tooltip for="imgID" value="Para adicionar um membro clique no ícone + no bordo superior direito." position="right"/>
			                  	  <span class="users-list-name" href="#">Adicionar</span>
			                      <span class="users-list-name users-list-date">Membros</span>		                      
		                      	</li>
		                    </p:repeat>
		                  </ul>
		                  <!-- /.users-list -->
		                </div>
		                <!-- /.box-body -->
		                <div class="box-footer text-center">
		                  <a>Dashboard da Equipe</a>
		                </div>
		                <!-- /.box-footer -->
		              </div>
		              <!--/.box -->
		            </div>
		            <!-- /.col -->	            
				</p:dataList>
			<!--END -> QUADROS DE VISUALIZAÇÃO GERAL  -->   
			</div>
		</h:form>
		</ui:define>	
	</ui:composition>
	
</html>
