<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:h="http://xmlns.jcp.org/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:p="http://primefaces.org/ui">
	  
	  <h:head>
	  	<link rel="stylesheet" href="../dist/css/personalizado.css"/>  
	  </h:head>

	<ui:composition template="../template.xhtml">
		<ui:define name="content">	
		<h:form id="forum">
			
			<div class="content-header flex-content-row" style="justify-content: space-between;" >
			
			    <h2 style="float: left; margin: 0;">Fórum</h2>
				
			    <p:link outcome="cad_topico">
			        <i class="fa fa-plus-square" style="font-size: 20px; color: #333;"></i> 
					<span style="margin: 0; font-size:18px; color: #333;" >Novo Tópico</span>
			    </p:link>		
				  				
			</div><br/>	
        
            <p:dataTable id="topicosTable" value="#{topico.foruns}" var="forum" emptyMessage="Sem tópicos cadastrados." styleClass="box products-list" style="overflow: none !important" paginator="true" rows="10" paginatorAlwaysVisible="false" paginatorPosition="bottom" >              
	              
	               <p:column class="item" priority="1" width="80%" >
	                 <h:commandLink action="#{resposta.openRespostas}" >
	                 	<f:setPropertyActionListener value="#{forum}" target="#{resposta.forum}"/>	                 	 
		                 <div class="product-img">
		                   <i class="fa fa-commenting-o" style="font-size: 40px" />
		                 </div>
		                 <div class="product-info">		                   
                   		  <div style="font-size: 16px; white-space: nowrap;  margin: 0 5px;" class="product-title">
                   		  	  <h:outputText value="#{forum.top.titulo}"/>					              	
			                  <p:commandLink action="cad_topico" update="topicosTable" rendered="#{forum.top.membro.usuario.idUsuario == usuario.usuario.idUsuario}" title="Editar Tópico" style="margin-left: 5px" ><f:setPropertyActionListener value="#{forum.top}" target="#{topico.topico}"/><i class="fa fa-edit"/></p:commandLink>
			                  <p:commandLink action="#{topico.delete(forum)}" update="topicosTable" rendered="#{forum.top.membro.usuario.idUsuario == usuario.usuario.idUsuario}" title="Excluir Tópico" style="margin-left: 5px"><f:setPropertyActionListener value="#{forum.top}" target="#{topico.topico}"/><i class="fa fa-trash-o"/><p:confirm header="Atenção!" message="Tem certeza que deseja excluir o tópico?" icon="ui-icon-alert" /></p:commandLink>
			                  <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" rendered="#{forum.top.membro.usuario.idUsuario == usuario.usuario.idUsuario}" style="display: none;" >
								  <p:commandButton value="Sim" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
								  <p:commandButton value="Não" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
							  </p:confirmDialog>									  
							  <p:outputLabel id="editada" rendered="#{forum.top.editada}" style="margin-left:5px; color: #f39c12;"><i class="fa fa-exclamation-circle" /></p:outputLabel>
							  <p:tooltip for="editada" value="Este tópico foi editado." />
		                  </div>
		                   <h:outputText value="#{forum.top.texto}" class="product-description"/>
		                 </div>
               		</h:commandLink>
	               </p:column>            
	               
	               <p:column class="item" width="35" priority="3" >
		               	<f:facet name="header"><i class="fa fa-eye" title="Visualizações"/></f:facet> 
		               	#{forum.top.visualizacoes}
	              	</p:column>
	              	
	               <p:column class="item" width="35" priority="2">
		               	<f:facet name="header"><i class="fa fa-comments" title="Respostas"/></f:facet> 
		               	#{forum.countMsg}
	              	</p:column>     
	              	
	              	<p:column class="item" priority="4" >
		               	<f:facet name="header"><i class="fa fa-clock-o" title="Usuário e Data" /></f:facet> 
					    <div>
			                <a class="product-description">por: #{forum.user}</a>
			                <span class="product-description">#{forum.data}</span>
		                </div>
	              	</p:column>     

            </p:dataTable>

		</h:form>
		</ui:define>	
	</ui:composition>
	
</html>
