<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:h="http://xmlns.jcp.org/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:p="http://primefaces.org/ui">

	<ui:composition template="../templateSemMenu.xhtml">
		<ui:define name="content">	
		<h:form>					
			<section class="flex-box-row" style="padding: 2% 0 2% 0">			
		      	<div class="flex-box-row" >
		      		<i class="ion ion-clipboard" style="font-size: 280%; margin-right: 8px;"/>
		      		<span style="margin: 0; font-size: 175%;">Projetos que Gerencio</span>
		      	</div>		      	
		      	<div style="display: flex; margin-bottom: 5px;">		      		
				    <h:commandLink action="#{projeto.novoProjeto}" >
				        <i class="fa fa-plus-square" style="font-size: 20px; color: #333;"></i> 
						<span class="hidden-xs" style="margin: 0; font-size:18px; color: #333;" >Novo Projeto</span>
				    </h:commandLink>
						
					<h:commandLink action="dash_geral_proj_gerenciados" style="color: #333">
						<i class="fa fa-dashboard" style="font-size: 20px; margin-left: 10px;"/> 
						<span class="hidden-xs" style="margin: 0; font-size:18px ">Dashboard</span>
					</h:commandLink>
				</div>								
		    </section>		  
		    
			<div class="row">
				<p:dataList id="projetos" var="projG" value="#{projeto.projetoQueGerencio}" emptyMessage="Você não está gerenciando nenhum projeto.">
					<div class="col-md-3 col-sm-6 col-xs-12">
					      <div class="btn-group" style="position: absolute; margin: 1% 1% 0 89%;" >
			                <p:commandLink id="opcoes" type="button" data-widget="collapse"><i class="fa fa-ellipsis-v" style="font-size:20px" /></p:commandLink>			                
			              </div>
              		    <p:tieredMenu overlay="true" trigger="opcoes" my="left top" at="left bottom" style="width:200px" >
					      <p:menuitem value="Editar" action="#{projeto.edit}"  icon="fa fa-edit"><f:setPropertyActionListener value="#{projG}" target="#{projeto.projeto}"/></p:menuitem>
					      <p:menuitem value="Excluir" action="#{projeto.delete(projG)}" icon="fa fa-trash-o" update="projetos"><p:confirm header="Atenção!" message="Tem certeza que deseja deletar o projeto?" icon="ui-icon-alert" /></p:menuitem>
				  	    </p:tieredMenu>
				  	    <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
					        <p:commandButton value="Sim" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
					        <p:commandButton value="Não" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
					    </p:confirmDialog>
						<h:commandLink class="info-box" action="#{projeto.linkarProjeto}" >
							<f:setPropertyActionListener value="#{projG}" target="#{projeto.projeto}"/>
							<span class="info-box-icon bg-aqua"><i class="ion ion-ios-compose-outline" style="font-size: 140%; margin-top: 12%;"/></span>
							<div class="info-box-content" style="padding: 5px 10px;" >
							  <span class="info-box-text" style="font-size: 170%; text-transform: none; font-weight: normal">#{projG.nome}</span>
							  <span class="info-box-number" style="font-size: 100%; font-weight: normal">#{projG.breveDescricao}</span>
							</div>
						</h:commandLink>
					</div>	
				</p:dataList>    
    		</div>  
		</h:form>
		
		<h:form id="prosj_participado">
					
			<section class="flex-box-row" style="padding: 2% 0 2% 0">			
		      	<div class="flex-box-row" >
		      		<i class="ion ion-clipboard" style="font-size: 280%; margin-right: 8px;"/>
		      		<span style="margin: 0; font-size: 175%;">Projetos que Participo</span>
		      	</div>		      	
		      	<div style="display: flex; margin-bottom: 5px;">
						
					<h:commandLink action="dash_geral_proj_participados" style="color: #333">
						<i class="fa fa-dashboard" style="font-size: 20px; margin-left: 10px;"/> 
						<span class="hidden-xs" style="margin: 0; font-size:18px ">Dashboard</span>
					</h:commandLink>
				</div>								
		    </section>	
		    
			<div class="row">
				<p:dataList id="projetos" var="projP" value="#{projeto.projetoQueParticipo}" emptyMessage="Você não está participando de nenhum projeto.">
					<div class="col-md-3 col-sm-6 col-xs-12">
						<h:commandLink class="info-box" action="#{projeto.linkarProjeto}" >
							<f:setPropertyActionListener value="#{projP}" target="#{projeto.projeto}"/>
							<span class="info-box-icon bg-aqua"><i class="ion ion-ios-compose-outline" style="font-size: 140%; margin-top: 12%;"/></span>
							<div class="info-box-content" style="padding: 5px 10px;" >
							  <span class="info-box-text" style="font-size: 170%; text-transform: none; font-weight: normal">#{projP.nome}</span>
							  <span class="info-box-number" style="font-size: 100%; font-weight: normal">#{projP.breveDescricao}</span>
							</div>
						</h:commandLink>
					</div>	
				</p:dataList>   
    		</div>  
			
 	  
		</h:form>
		</ui:define>	
	</ui:composition>
	
</html>
