<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:h="http://xmlns.jcp.org/jsf/html"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:f="http://java.sun.com/jsf/core">
	  
	<body class="register-box">		
	<ui:composition template="../template.xhtml">
	<ui:define name="content">

	<h:form id="respostas">

		<div class="box box-success">
			<div class="box-header">
				<i class="fa fa-comments-o"></i>
				<h3 class="box-title">#{resposta.forum.top.titulo}</h3>
			</div>
			<div class="box-body chat" id="chat-box">
				<!-- chat item -->
				<div class="item">
					<img src="../resources/img/users/#{resposta.forum.top.membro.usuario.img}" alt="user image" class="online" />
					<div class="message">
						<div class="name" style="display: flex; flex-direction: row; align-items: baseline; justify-content: space-between;">
							<h:outputText value="#{resposta.forum.user}" styleClass="progress-description" />
							<small style="font-size: 100% !important; font-weight: normal !important; white-space: nowrap;" class="text-muted pull-right"> 
								<i class="fa fa-clock-o" style="margin-right: 5px" /> 
								<h:outputText value="#{resposta.forum.data}" />
							</small> 							
						</div>
						<h:outputText value="#{resposta.forum.top.texto}" style="font-weight: normal; white-space: wrap;" styleClass="progress-description"/>
					</div>
				</div>		

				<p:dataList id="listRespostas" value="#{resposta.respostas}" var="resp" paginator="true" paginatorAlwaysVisible="false" paginatorPosition="bottom" rows="5" emptyMessage="Sem respostas para o tópico." >
					<div class="item">
						<img src="../resources/img/users/#{resp.membro.usuario.img}" alt="user image" class="online" />
						<div class="message">
							<div class="name" style="display: flex; flex-flow: row wrap; align-items: baseline; justify-content: space-between;">
								<div style="display: flex;" >
								  <h:outputText value="#{resp.membro.usuario.nome}" styleClass="progress-description"/>
					              <div style="font-size: 16px; white-space: nowrap;  margin: 0 5px;" >					              	
					                  <p:commandLink update="respostas" oncomplete="$(function(){PrimeFaces.focus('respostas:inputRespostas');});" rendered="#{resp.membro.usuario.idUsuario == usuario.usuario.idUsuario}" title="Editar Resposta" style="margin-right: 5px" ><f:setPropertyActionListener value="#{resp}" target="#{resposta.resposta}"/><i class="fa fa-edit"/></p:commandLink>
					                  <p:commandLink action="#{resposta.delete}" update="listRespostas" rendered="#{resp.membro.usuario.idUsuario == usuario.usuario.idUsuario}" title="Excluir Resposta" ><f:setPropertyActionListener value="#{resp}" target="#{resposta.resposta}"/><i class="fa fa-trash-o"/><p:confirm header="Atenção!" message="Tem certeza que deseja excluir a resposta?" icon="ui-icon-alert" /></p:commandLink>
					                  <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" rendered="#{resp.membro.usuario.idUsuario == usuario.usuario.idUsuario}" style="display: none;" >
										  <p:commandButton value="Sim" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
										  <p:commandButton value="Não" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
									  </p:confirmDialog>									  
									  <p:outputLabel id="editada" rendered="#{resp.editada}" style="margin-left:5px; color: #f39c12;"><i class="fa fa-exclamation-circle" /></p:outputLabel>
									  <p:tooltip for="editada" value="Esta resposta foi editada." />
				                  </div>
								</div>
								<small style="font-size: 83% !important; font-weight: normal !important; white-space: nowrap;" class="text-muted pull-right">
									<i class="fa fa-clock-o" style="margin-right: 5px" />
									<h:outputText value="#{resp.dataCriacao}">										
										<f:convertDateTime pattern="dd/MM/yyyy HH:mm" locale="pt_BR" timeZone="GMT-03:00" />
									</h:outputText>
								</small>								
							</div>	
					        <span style="font-weight: normal; white-space: normal; text-align: justify;" class="progress-description"><h:outputText value="#{resp.resposta}" style="font-size:15px" escape="false"/></span>
						</div>
					</div>					
				</p:dataList>

				<div class="box-footer">
					<div class="input-group" style="width: 100%" >
					    <p:textEditor id="inputRespostas" widgetVar="inputRespostas" value="#{resposta.resposta.resposta}" placeholder="Escreva uma resposta..." height="150" >
						     <f:facet name="toolbar">
						        <span class="ql-formats">
					                <button class="ql-bold"></button>
					                <button class="ql-italic"></button>
					                <button class="ql-underline"></button>
					                <button class="ql-strike"></button>
					            </span>				
					            <span class="ql-formats">
					            	<select class="ql-color"/>
    					            <select class="ql-background"/>			                					                
					            </span>
					            <span class="ql-format-separator"></span>
                   		        <span class="ql-formats">
                   		        	<button class="ql-blockquote"></button>    					            
					                <button class="ql-code-block"></button>				                
					            </span>
                   		        <span class="ql-formats">
					                <button class="ql-list" value="ordered"></button>
					                <button class="ql-list" value="bullet"></button>					                
					            </span>	
					            
					            <span class="ql-formats">
					                <button class="ql-clean"></button>					                		                
					            </span>		
					            	 
				            </f:facet>
					    </p:textEditor>
					    <div style="float: right; margin-top: 10px; display: flex;  flex-direction: row;  justify-content: flex-end;" >
					    	<p:commandButton value="Limpar" type="button" onclick="PF('editor').clear();" icon="fa fa-times" class="btn btn-primary btn-flat" /> 
    						<p:commandButton value="Salvar Resposta" action="#{resposta.save}" update="listRespostas inputRespostas" icon="fa fa-commenting-o" class="btn btn-primary btn-flat" />    						
    					</div>						
					</div>
				</div>
			</div>

		</div>
		<h:commandLink action="forum">
			<i class="fa fa-arrow-circle-left fa-2x" />
		</h:commandLink>

	</h:form>

	</ui:define>
	</ui:composition>
	</body>  
</html>