<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:h="http://xmlns.jcp.org/jsf/html"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:f="http://java.sun.com/jsf/core">
	  
	<h:head>
		<link rel="stylesheet" href="../dist/css/personalizado.css"/>  
	</h:head>
	  
	<body class="register-box">		
	<ui:composition template="../template.xhtml">
	<ui:define name="content">	
	<h:form id="tarefas" class="content" style="margin-top: 1%;" onkeypress="if (event.keyCode == 13) { return false; }">
	    
	    	
	    <h2 style="float: left; margin: 0;">#{tarefa.ativPlus.ativ.nome}</h2><br/>
	    <br/>	
		
		<h:panelGrid columns="2" cellpadding="60">		

			<p:outputLabel for="dtInicio" value="Data de Início:" />
			<p:outputLabel id="dtInicio" value="#{tarefa.ativPlus.dataInicio}" style="font-weight:normal"><f:convertDateTime pattern="dd/MM/yyyy HH:mm"/></p:outputLabel>

	
			<p:outputLabel for="dtFim" value="Data de Fim: " />
			<p:outputLabel id="dtFim" value="#{tarefa.ativPlus.dataFim}" style="font-weight:normal"><f:convertDateTime pattern="dd/MM/yyyy HH:mm"/></p:outputLabel>

			
			<p:outputLabel for="eq" value="Equipe: " />
			<p:outputLabel id="eq" value="#{tarefa.ativPlus.ativ.equipe.nome}" style="font-weight:normal"/>
			
			<p:outputLabel for="prioridade" value="Prioridade: " />
			<p:outputLabel id="prioridade" value="#{tarefa.ativPlus.prioridadeText}" style="font-weight:normal"/>
									
		</h:panelGrid>
		
		<p:outputLabel for="desc" value="Descrição: " /> <br/>
		<p:outputLabel id="desc" style="text-align: justify; font-weight: normal; margin-bottom: 30px;" value="#{tarefa.ativPlus.ativ.descricao}" />
		
        <div class="clearfix">
          <span class="pull-left">Progresso</span>
          <small class="pull-right">#{tarefa.ativPlus.progresso}</small>
        </div>
        <div class="progress xs">
          <div class="progress-bar progress-bar-green" style="width: #{tarefa.ativPlus.progresso};"></div>
        </div>			  
			  
		<div class="box box-primary">
            <div class="box-header">
              <i class="ion ion-clipboard"></i>			
              <h3 class="box-title">Tarefas</h3>	
              <div > </div>
              <p:commandButton id="AddTarefa" style="border-radius: 50%; width: 30px; height: 29px;" styleClass="btn btn-primary box-tools pull-right" icon="fa fa-plus" actionListener="#{tarefa.addTarefa}" update="tarefasTable"/>              
              <p:tooltip for="AddTarefa" value="Adicionar Tarefa" position="left" />		   
            </div>
            <!-- /.box-header -->
            <div class="box-body">                       
              <ul class="tarefas">
                <p:dataList id="tarefasTable" value="#{tarefa.tarefas}" var="tr" emptyMessage="Sem tarefas cadastradas.">
	                <li class="#{tr.status == true ? 'tarefa done': 'tarefa'}">
	                  <span class="handle">
	                    <i class="fa fa-ellipsis-v"></i>
	                    <i class="fa fa-ellipsis-v"></i>
	                  </span>
	                  <!-- checkbox -->
	                  <p:selectBooleanCheckbox value="#{tr.status}" styleClass="checkbox">
			          	  <p:ajax listener="#{tarefa.checkTarefa(tr,tarefa.ativPlus.ativ.equipe.idEquipe)}" update="tarefas"/>
			          </p:selectBooleanCheckbox>
	                  <!-- todo text -->
	                  <p:inplace class="text" widgetVar="tarefaEdit#{tr.idTarefa}" editor="true" saveLabel="Salvar" cancelLabel="Cancelar" emptyLabel="Nova Tarefa">
					  	  <p:ajax event="save" listener="#{tarefa.save(tr)}" update="tarefas"/>					  	  				  	  									  	  						  
						  <p:inputText class="text" value="#{tr.descricao}" label="text" required="true" requiredMessage="É necessário preencher o campo de nome da tarefa."/>
					  </p:inplace>  
	                  <!-- General tools such as edit or delete-->
	                  <div class="tools">
		                  <p:commandLink styleClass="iconTools" action="#{tarefa.delete(tr)}" update="tarefas" rendered="#{gerente.gerente}"><i class="fa fa-trash-o"/><p:confirm header="Atenção!" message="Tem certeza que deseja deletar a tarefa?" icon="ui-icon-alert" /></p:commandLink>
		               	  <p:commandLink styleClass="iconTools" type="button" onclick="PF('tarefaEdit#{tr.idTarefa}').show()" rendered="#{gerente.gerente}"><i class="fa fa-edit"/></p:commandLink>
		           	  	  <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" rendered="#{gerente.gerente}" >
							  <p:commandButton value="Sim" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
							  <p:commandButton value="Não" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
						  </p:confirmDialog>
	                  </div>
	                </li>
                </p:dataList>
                </ul>
              </div>
          </div>

          <!-- /.box -->	
	<h:commandLink action="atividades"><i class="fa fa-arrow-circle-left fa-2x"/></h:commandLink>
	</h:form>	
	</ui:define>
	</ui:composition>
	</body>  
</html>