<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
	  
<h:head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>  
  <title>ProjBL | Registrar</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
  <link rel="stylesheet" href="dist/bootstrap/css/bootstrap.min.css"/>  
  <link rel="stylesheet" href="dist/font-awesome/css/font-awesome.min.css"/>
  <link rel="stylesheet" href="dist/ionicons/css/ionicons.min.css"/>  
  <link rel="stylesheet" href="dist/css/AdminLTE.css"/>
</h:head>


<h:body class="hold-transition register-page">
<p:growl id="growl" showDetail="true" sticky="true" />
<div class="register-box">
  <div class="register-logo">
<!--     <a href="index2.html"><b>Admin</b>LTE</a> -->
    <span class="logo-lg"><img src="dist/img/logowhite.png" alt="User Image" width="90%" style="margin-top:40px;"/></span>
  </div>

  <div class="register-box-body">
    <h:form enctype="multipart/form-data">
      <div class="form-group has-feedback">
        <p:inputText class="form-control" placeholder="Nome Completo" value="#{usuario.nome}" required="true" requiredMessage="É necessário preenche o campo nome completo." maxlength="100"/>
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <p:inputText class="form-control" placeholder="Matrícula" value="#{usuario.matricula}" maxlength="25"/>
        <span class="fa fa-graduation-cap form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <p:inputText class="form-control" placeholder="Email" value="#{usuario.email}" required="true" requiredMessage="É necessário preenche o campo email." maxlength="150"/>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <p:password id="pwd1" placeholder="Senha" class="form-control" value="#{usuario.senha}" match="pwd2" required="true" requiredMessage="É necessário preenche o campo senha." />
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback" >
        <p:password id="pwd2" placeholder="Repita a senha" class="form-control" value="#{usuario.senha}" required="true" requiredMessage="É necessário preenche o campo senha."/>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback" >
		<p:fileUpload mode="simple" value="#{usuario.file}" label="Enviar Foto" skinSimple="true" style="display: flex;  align-items: center;"
		 allowTypes="/(\.|\/)(gif|jpe?g|png)$/" invalidFileMessage="São permitidas somente imagens (gif, jpeg, jpg e png)"
		 sizeLimit="1048576" invalidSizeMessage="O tamanho máximo permitido é de 1MB." />        
      </div>      
      <br/>
      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck">
            <label>
<!--               <input type="checkbox"/> I agree to the <a href="#">terms</a> -->
            </label>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <p:commandButton value="Salvar" class="btn btn-primary btn-block btn-flat" style="display: flex; justify-content: center;" action="#{usuario.save}" ajax="false" />          
        </div>
        <!-- /.col -->
      </div>
    </h:form>

<!--     <div class="social-auth-links text-center">
      <p>- OU -</p>
      <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Login com o Facebook</a>
      <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Login com o Google+</a>
    </div> -->

    <a href="login.xhtml" class="text-center">Já é cadastrado, faça login clicando aqui!</a>
  </div>
  <!-- /.form-box -->
</div>
<!-- /.register-box -->

</h:body>
</html>
