<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:h="http://xmlns.jcp.org/jsf/html"
	  xmlns:p="http://primefaces.org/ui">
	  
<h:head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <title>Projettus</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
  <link rel="stylesheet" href="../dist/bootstrap/css/bootstrap.min.css"/>  
  <link rel="stylesheet" href="../dist/font-awesome/css/font-awesome.min.css"/>
  <link rel="stylesheet" href="../dist/ionicons/css/ionicons.min.css"/>  
  <link rel="stylesheet" href="../dist/css/AdminLTE.css"/>
  <link rel="stylesheet" href="../dist/css/personalizado.css"/>
  <link rel="stylesheet" href="../dist/css/skins/skin-blue.css"/>
</h:head>

<h:body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper" style="background-color: #fff;">

  <!-- Main Header -->
  <header class="main-header">

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation" style="margin-left: 0px !important; padding: 0% 3%;">
      <!-- Sidebar toggle button-->
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu" style="width: 100%;">
        <ul class="nav navbar-nav" style="width: 100%;">     
        
			<!-- Logo -->
			<a href="index2.html" class="logo" style="float: left">
			  <!-- mini logo for sidebar mini 50x50 pixels -->
			  <span class="logo-mini"><img src="../dist/img/icon.png" alt="User Image" width="35px"/></span>
			  <!-- logo for regular state and mobile devices -->
			  <span class="logo-lg"><img src="../dist/img/logowhite.png" alt="User Image" width="180px"/></span>
			</a>       
			     
			<!-- Control Sidebar Toggle Button -->
			<li style="float: right">
			  <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
			</li>
			
			<!-- User Account Menu -->
			<li class="dropdown user user-menu" style="float: right">
			  <!-- Menu Toggle Button -->
			  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
			    <!-- The user image in the navbar-->
			    <img src="../dist/img/Anselmo.jpg" class="user-image" alt="User Image"/>
			    <!-- hidden-xs hides the username on small devices so only the image appears. -->
			    <span class="hidden-xs">Anselmo Junior</span>
			  </a>
			  <ul class="dropdown-menu">
			    <!-- The user image in the menu -->
			    <li class="user-header">
			      <img src="../dist/img/Anselmo.jpg" class="img-circle" alt="User Image"/>
			      <p>
			        Anselmo Junior - Web Developer
			        <small>Sistemas de Informação - UFS</small>
			      </p>
			    </li>
			    <!-- Menu Body -->
			    <li class="user-body">
			      <div class="row">
			        <div class="col-xs-4 text-center">
			          <a href="#">Followers</a>
			        </div>
			        <div class="col-xs-4 text-center">
			          <a href="#">Sales</a>
			        </div>
			        <div class="col-xs-4 text-center">
			          <a href="#">Friends</a>
			        </div>
			      </div>
			      <!-- /.row -->
			    </li>
			    <!-- Menu Footer-->
			    <li class="user-footer">
			      <div class="pull-left">
			        <a href="#" class="btn btn-default btn-flat">Profile</a>
			      </div>
			      <div class="pull-right">
			        <a href="#" class="btn btn-default btn-flat">Sign out</a>
			      </div>
			    </li>
			  </ul>
			</li>
        </ul>
      </div>
    </nav>
  </header>

  <!-- BEGIN CONTENT -->
	  <!-- CONTENT -->


	    <section class="content-header" style="padding: 1% 4%;">      	     	

			
			  <ui:insert name="content">
			    	CONTEUDO DO SITE
			  </ui:insert>
		
							
	    </section>


  <!-- END CONTENT -->
  <!-- Main Footer -->
  <footer class="main-footer" style="margin-left: 0px !important;">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
      Anything you want
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2016 <a href="#">Company</a>.</strong> All rights reserved.
  </footer>


  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->

<!-- jQuery 2.2.3 -->
<script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="../dist/bootstrap/js/bootstrap.min.js"></script>
<!-- AdminLTE App -->
<script src="../dist/js/app.min.js"></script>


</h:body>
</html>
